version: "3.6"
services:
  mainnet-peer:
    image: proximax/proximax-sirius-chain:v0.9.0-bullseye
    ports:
      - 7902:7902
      - 7900:7900
      - 7901:7901
    volumes:
      - ./:/chainconfig
      - ./data:/data:rw
      - ./logs:/logs:rw
    restart: on-failure:3
    entrypoint: /chainconfig/entrypoint.sh
    